.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 70px;
    padding-top: 10px;
    background-color: white;
   
    
}
.sidebar-link{
    height: 74px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 101;
}

.sidebar-link:hover{
    background-color: rgb(235,235,235 );
}

.sidebar img{
    height: 24px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
    
    


}